body {
    font-size: 1em;
    font-family: sans-serif;
}
nav {
    text-align: right;
}
a:link, a:visited {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
a:hover, a:active {
    text-decoration: underline;
    background-color: green;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
	display: inline;
}
main {
	margin: 0 10% 0 10%;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

footer {
    text-align: center;
}
