body {
    font-size: 1em;
    font-family: sans-serif;
}
nav {
    text-align: center;
}
a:link, a:visited, button[type=button] {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    margin: 5px;
}
a:hover, a:active, button[type=button]:hover, button[type=button]:active {
    text-decoration: underline;
    background-color: green;
    margin: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
	display: inline;
}
main {
	margin: 0 10% 0 10%;
}

.blurr {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
}

input[type=text], input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

footer {
    text-align: center;
}

@media screen and (min-width: 720px) {
    nav {
        text-align: right;
    }
}