body {
    font-size: 1em;
    font-family: sans-serif;
}
nav {
    text-align: center;
}
a:link, a:visited, button[type=button] {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    margin: 5px;
}
a:hover, a:active, button[type=button]:hover, button[type=button]:active {
    text-decoration: underline;
    background-color: green;
    margin: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
	display: inline;
}
main {
	margin: 0 10% 0 10%;
}

.blurr {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
}

input[type=text], input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.error-message {
    position: absolute;
    top: 70px;
    right: 20px;
    overflow: hidden;
    padding: 1rem 2rem;
    border-radius: 7px;
    border-color: #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
    -webkit-animation: fadeinout 5s linear 1 forwards;
    animation: fadeinout 5s linear 1 forwards;
}

.success-message {
    position: absolute;
    top: 70px;
    right: 20px;
    overflow: hidden;
    padding: 1rem 2rem;
    border-radius: 7px;
    border-color: #c3e6cb;
    background-color: #d4edda;
    color: #155724;
    -webkit-animation: fadeinout 5s linear 1 forwards;
    animation: fadeinout 5s linear 1 forwards;
}

@-webkit-keyframes fadeinout {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

.error-message::before,
.success-message::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform-origin: left;
    transform: scaleX(0);
    animation: progress 5s linear forwards;
}

@keyframes fadeinout {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes progress {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

footer {
    text-align: center;
}

@media screen and (min-width: 720px) {
    nav {
        text-align: right;
    }
}